* {
    font-family: 'Eagle Lake', cursive;
}

body {
    background-color: rgb(66, 79, 90);
    background-image: url("./../assets/mathBackground.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: rgb(51, 0, 109);
}

main {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#input {
    display: flex;
    opacity: 50%;
}

#input1, #input2 {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 2rem;
    border-radius: 15%;
}

#buttons, #buttons2 {
    height: 50px;
    width: 500px;
    display: flex;
    padding: 10px;
    justify-content: center;
}

#add-button, #sub-button, #mult-button, #div-button, #mod-button, #int-div-button, #tri-hyp-button, #cone-vol-button {
    width: 45px;
    height: 45px;
    border: solid 1px black;
    border-radius: 20%;
    margin: 2px;
    background-color: slategray;
    cursor: pointer;
}

#output {
    font-size: 1.8rem;
    color: rgb(51, 0, 109);
    border: solid 1px black;
    margin: 20px;
    width: 400px;
    text-align: center;
    background-color: rgba(216, 191, 216, 0.5);
    border-radius: 10px;
    height: 50px;
}